$blue : #0984e3;
$black : #333;
$white : #fff;
$gold : gold;
$light-color : #666;
$light-bg : #eee;
$green-color: #277937;
$purple-color: #9A1749;
$border : .2rem solid $black;
$box-shadow : 0 .5rem 1rem rgba(0,0,0,.2);

$mobile-width: 450px;
$tablet-width: 768px;
$notebook-width: 991px;
$laptop-width: 1200px;
